# Database Configuration
DB_SERVER=olkad.database.windows.net
DB_NAME=RestaurantManager
DB_USER=admi
DB_PASSWORD=Olkilolkil12@

# Application Configuration
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

